<span class="proddesc">
    <span class="prodtitle">100 Pipers 26 2/3 Fl Oz</span>
    <span class="prodprice">
        <span class="prodlot priceline curprice">Lot number: 107-02333</span>
        <span id="price_371998" class="pb">
            <span class="priceline curprice">Winning bid: 
                <span class="price">
                    &pound;45.00
                </span>
            </span>
        </span>
    </span>
    <span class="prodtitle">100 Pipers 26 2/3 Fl Oz</span>
    <span class="prodprice">
        <span class="prodlot priceline curprice">Lot number: 107-02333</span>
        <span id="price_371998" class="pb">
            <span class="priceline curprice">Winning bid: 
                <span class="price">
                    &pound;45.00
                </span>
            </span>
        </span>
    </span>
</span>